<header>
    <a id="navLogo" [routerLink]="['/home']" class="easyScroll" href="#home">
      <img class="logo" src={{logo}} />
      <h1 class="name">{{title}}</h1>
    </a>
    <div id="menuIcon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
</header>

<menu>
  <div class="sign">
    <div class="rivetsTop">
      <div class="rivet rivetT"></div>
      <div class="rivet rivetT"></div>
      <div class="rivet rivetT"></div>
      <div class="rivet rivetT"></div>
      <div class="rivet rivetT"></div>
    </div>
    <div class="rivetsRight">
      <div class="rivet rivetR"></div>
    </div>
    <div class="rivetsBottom">
      <div class="rivet rivetB"></div>
      <div class="rivet rivetB"></div>
      <div class="rivet rivetB"></div>
      <div class="rivet rivetB"></div>
      <div class="rivet rivetB"></div>
    </div>
    <div class="rivetsLeft">
      <div class="rivet rivetL"></div>
    </div>
    <div class="innerSign">
      <!-- <audio id="gears1" src="assets/audio/gears.mp3" loop="loop" controls class="audioTop"></audio> -->
      <div class="logoMenuIcon">
        <app-logo></app-logo>
      </div>
      <ul>
        <li *ngFor="let page of linkingPgs">
          <a [routerLink]="(page.link)">{{page.pgTitle}}</a>
        </li>
      </ul>
    </div>
  </div>
</menu>
