<div class="cogMD">
	<div class="cogCenter"></div>
    <div class="centerWrap">
    	<div class="cogCenterMid"></div>
    </div>
    <div class="pegWrap">
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
    </div>
    <div class="pegWrap">
        <div class="barStick">
            <div class="cogBars"></div>
            <div class="cogBars"></div>
        </div>
        <div class="barStick">
            <div class="cogBars"></div>
            <div class="cogBars"></div>
        </div>
    </div>
</div>
