<app-header></app-header>
<div class="stripes"></div>
<div class="mainBlock" *ngFor="let model of projects">

  <div class="hero" [ngStyle]="{ 'background-image': 'url(' + model.heroimg + ')'}">
    <a class="return" [routerLink]="['/work']"><div class="arrow"></div> Back</a>
    <h1 class="modelName">{{ model.label }}</h1>
    <a class="visit" *ngIf="model.show" href="{{model.link}}">View Site</a>
    <!-- <a [routerLink]="['/model', (model.id)-1]">prev</a>
    <a [routerLink]="['/model', (model.id)+1]">next</a> -->
  </div>

  <div class="info">
    <p>{{model.about}}</p>
    <div class="tools">
      <div class="toolBubble" *ngFor="let lib of model['tools']">{{lib.tool}}</div>
    </div>
  </div>

  <div class="modelImagery">
    <a href="{{model.link}}"><img *ngFor="let subpic of model['img']" src={{subpic.render}} /></a>
  </div>
</div>
