<app-header></app-header>
<div class="contact stack">
  <img class="writeMe" src="assets/img/telegraph.png" />
	<div>
    <form method="post">
      <input type="text" placeholder="Name" required />
      <input type="email" placeholder="Email" required />
      <input type="number" placeholder="Phone" />
      <textarea></textarea>
    </form>
  </div>
	<div class="telegraph">
		<h3>Telegraph</h3>
		<h1>jen.byron83@gmail.com</h1>
		<h1>(509)301-5601</h1>
	</div>
  <div></div>
<app-socialmedia></app-socialmedia>
</div>
