.stripes {
  position: fixed;
}

.teleContent a {
	border-bottom: 2px solid transparent;
	transition: ease 1s all;
}

.teleContent a,
.teleContent h1 {
  color: rgba(51,28,1,.7);
}

.teleContent a:hover {
	border-bottom: 2px solid rgba(51,28,1,.5);
	transition: ease 1s all;
}

span.platform {
	color: rgb(51,28,1);
}
