form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
}

input {
  background: transparent;
  color: rgb(195,140,84);
  outline: rgb(255,255,255);
  font-size: 15px;
  padding: 5px 10px;
}

.writeMe {
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 1;
}

.telegraph {
  position: relative;
  z-index: 2;
}
