<app-header></app-header>
<!-- Intro -->
<nav class="homeNav" id="pinned-nav" style="display: none;">
	<ul>
		<li><a class="easyScroll home" id="one" href="#home"><div class="circle"></div><div class="hideme"> Home</div></a></li>
		<li><a class="easyScroll about" id="two" href="#about"><div class="circle"></div><div class="hideme"> About</div></a></li>
		<li><a class="easyScroll port" id="three" href="#port"><div class="circle"></div><div class="hideme"> Portfolio</div></a></li>
		<li><a class="easyScroll connect" id="four" href="#blank"><div class="circle"></div><div class="hideme"> Contact</div></a></li>
	</ul>
</nav>
<div id="pinned-trigger1"></div>
<div class="stripes" id="pinned-element1"></div>
<div class="aboveFold" id="home" class="home">
	<div class="signBlock" id="RyanIndustries8">
		<div class="signInvis">
		<div class="sign">
			<div class="rivetsTop">
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
			</div>
			<div class="rivetsRight">
				<div class="rivet rivetR"></div>
			</div>
			<div class="rivetsBottom">
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
			</div>
			<div class="rivetsLeft">
				<div class="rivet rivetL"></div>
			</div>
			<div class="innerSign">
				<div class="innerLabel">RyanIndustries8</div>
			</div>
		</div>
		<div class="cogSpread">
			<div class="lg2"><app-lgcog></app-lgcog></div>
			<div class="lg2r"><app-lgcog></app-lgcog></div>
		</div>
		<div class="cogSpread2">
			<div class="lg2 cogA"><app-lgcog></app-lgcog></div>
			<div class="sm1 cogB"><app-smcog></app-smcog></div>
			<div class="md1r"><app-mdcog></app-mdcog></div>
			<div class="sm1 cogD"><app-smcog></app-smcog></div>
			<div class="lg2 cogE"><app-lgcog></app-lgcog></div>
		</div>
	</div>
	<a class="introBtn easyScroll" href="#about">explore
		<div class="arrowBox">
			<div class="exploreArrow"></div>
		</div>
	</a>
	</div>
</div>
<!-- WHO -->
<div class="aboveFold" id="about" >
	<div class="wrapWho" id="whoPlate">
		<div class="whoPlate">
			<div class="md1r cogC"><app-mdcog></app-mdcog></div>
		<div class="sign">
			<div class="rivetsTop" id="navTrigger">
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
			</div>
			<div class="rivetsRight">
				<div class="rivet rivetR"></div>
			</div>
			<div class="rivetsBottom">
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
			</div>
			<div class="rivetsLeft">
				<div class="rivet rivetL"></div>
			</div>
			<div class="innerSign">
				<div class="innerLabel">Who I Am</div>
			</div>
		</div>
		<div class="lg2 cogF"><app-lgcog></app-lgcog></div>
	</div>
	</div>
	<div class="wrapAbout">
		<div class="signInvis">
			<div class="lg2 cog2E"><app-lgcog></app-lgcog></div>
		<div class="sign">
			<div class="rivetsTop">
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
				<div class="rivet rivetT"></div>
			</div>
			<div class="rivetsRight">
				<div class="rivet rivetR"></div>
			</div>
			<div class="rivetsBottom">
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
				<div class="rivet rivetB"></div>
			</div>
			<div class="rivetsLeft">
				<div class="rivet rivetL"></div>
			</div>
			<div class="innerSign">
				<div class="innerLabel aboutMe">I'm Jennifer, a web designer and developer with a passion for the web, graphic design, and photography. Most of all I love CSS, creating interactive art, and pushing the boundaries of art on the web. <span class="signbtn" [routerLink]="['/about']">Get to know me</span>.</div>
			</div>
		</div>
	</div>
	<div class="cogSpread3">
		<div class="md1 cog2A"><app-mdcog></app-mdcog></div>
		<div class="lg2 cog2B"><app-lgcog></app-lgcog></div>
		<div class="sm1 cog2C"><app-smcog></app-smcog></div>
		<div class="lg2 cog2D"><app-lgcog></app-lgcog></div>
	</div>
	</div>
</div>


<div class="aboveFold pgCenter" id="port">
	<div class="rivetsTop">
		<div class="rivet rivetT"></div>
		<div class="rivet rivetT"></div>
		<div class="rivet rivetT"></div>
		<div class="rivet rivetT"></div>
		<div class="rivet rivetT"></div>
	</div>
	<div class="rivetsRight">
		<div class="rivet rivetR"></div>
	</div>
	<div class="rivetsLeft">
		<div class="rivet rivetL"></div>
	</div>
	<div class="tvScreen">
		<div class="screenLine"></div>
		<div class="portHeader">
			<h1>What I Do</h1>
		</div>

		<div class="grid">
			<app-sitedemo></app-sitedemo>
		</div>
		<div class="startBtn" [routerLink]="['/work']">Learn More</div>
	</div>
	<div class="rivetsBottom">
		<div class="rivet rivetB"></div>
		<div class="rivet rivetB"></div>
		<div class="rivet rivetB"></div>
		<div class="rivet rivetB"></div>
		<div class="rivet rivetB"></div>
	</div>
</div>
<div id="blank">
	<div id="lgcog" class="blankLeftTop"><app-lgcog></app-lgcog></div>
</div>
<div class="contact stack">
	<div class="stripes"></div>
	<div class="lg2 contactRightBtm"><app-lgcog></app-lgcog></div>
	<div></div>
	<div class="telegraph perspec">
		<div class="telegramHeader">
			<div class="teleLabel">
				<div class="postL">POST</div>
				<div class="teleLogo">
					<app-logo></app-logo>
					</div>
				<div class="postR">OFFICE</div>
			</div>
			<h3>Telegram</h3>
			<h4>Official Connection Invitation</h4>
		</div>
		<div class="teleContent">
			<a href="mailto:jen.byron83@gmail.com"><h1>jen.byron83@gmail.com</h1></a>
			<h1>(509)301-5601</h1>
		</div>
		<div class="social">
		  <div class="smBlock" >
		    <a class="icon" *ngFor="let social of sm" target="_blank" href={{social.site}}><img [src]="social.icon" /><span class="platform">{{social.platform}}</span></a>
		  </div>
	  </div>
	</div>
<div></div>
</div>
