#home,
#about,
#port,
.sign {
	z-index: 2;
}

.cogF,
.cogSpread3 {
	z-index: -1;
}

.homeNav {
	z-index: 2;
}

#home {
	position: relative;
	top: 0;
	height: 100vh;
}

#RyanIndustries8.fixme {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#blank {
	height: 100vh;
	width: 100%;
	position: relative;
}

#about.new {
	position: fixed !important;
}

#contact {
	background: rgb(0,0,0);
}

.contact {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
}

.icon {
	color: rgba(253,182,150,0.5);
}

nav.homeNav {
	position: fixed;
	height: 100vh;
  display: flex;
  align-items: center;
	z-index: 999;
}

.homeNav {
	-webkit-transform: translateX(-50px);
	-moz-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	transform: translateX(-50px);
	-webkit-transition: all .75s ease-out;
	-moz-transition: all .75s ease-out;
	-o-transition: all .75s ease-out;
	transition: all .75s ease-out;
	opacity: 0;
}

.homeNav.fade-in {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

nav.homeNav ul {
  list-style-type: none;
}

nav.homeNav ul li {
	height: 22px;
}

nav.homeNav ul li a {
  color: rgba(255,255,255,1);
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  -webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	opacity: .25;
}

nav.homeNav ul li a:hover {
	opacity: .75;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.hideme {
  margin-left: 10px;
}

.circle {
	height: 10px;
	width: 10px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: rgb(255,255,255);
	border: 2px grey solid;
}

.active {
  opacity: 1 !important;
}

.introBtn {
  color: rgb(255,255,255);
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
	font-family: serif;
	font-size: 22px;
	text-transform: uppercase;
}

.start {
	-webkit-animation-iteration-count: infinite !important;
	-moz-animation-iteration-count: infinite !important;
	animation-iteration-count: infinite !important;
}

.exploreArrow {
  background: rgb(255,255,255);
  width: 1px;
  height: 40px;
  position: absolute;
  margin-top: -10px;
  opacity: 0;
	-webkit-animation-name: exploring;
	-moz-animation-name: exploring;
	animation-name: exploring;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	animation-delay: 0;
	-webkit-animation-iteration-count: 0;
	-moz-animation-iteration-count: 0;
	animation-iteration-count: 0;
}

.exploreArrow:before,
.exploreArrow:after {
	content: '';
  background: rgb(255,255,255);
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: -1px;
	opacity: 0;
	-webkit-animation-name: wing;
	-moz-animation-name: wing;
	animation-name: wing;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	animation-delay: 0;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.exploreArrow:before {
  right: 5px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

.exploreArrow:after {
  left: 5px;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-o-transform: rotate(40deg);
	transform: rotate(40deg);
}

.pgCenter {
  justify-content: center;
}

.signBlock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#port {
	background: linear-gradient(210deg,rgba(197,144,78,.3),rgba(136,61,1,.4)),
              linear-gradient(120deg,rgba(197,144,78,.2),rgba(136,61,1,.5)),
              linear-gradient(rgb(197,144,78),rgb(104,57,1));
}

.wrapWho {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin-left: calc(10% + 60px);
}

.wrapAbout {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10%;
}

.wrapAbout .signInvis {
	height: auto !important;
}

.aboutMe {
  font-size: 1.5vw !important;
  font-family: Metrophobic !important;
  padding: 20px;
  line-height: 1.6;
}

.signbtn,
.startBtn {
	text-decoration: underline;
	cursor: pointer;
}

.signbtn:hover,
.startBtn:hover {
	text-decoration: line-through;
}

.cogSpread,
.cogSpread2,
.cogSpread3 {
  position: absolute;
  display: flex;
  align-items: flex-end;
}

.cogSpread {
  width: 120%;
  height: 110%;
  justify-content: space-between;
}

.cogSpread2 {
  width: 100%;
  height: 115%;
  flex-flow: row wrap;
  justify-content: center;
}

.cogSpread3 {
  width: 100%;
  height: 135%;
  flex-flow: row-reverse;
  right: 7%;
}

/**** Rotating Gears ****/

.lgGear,
.medGear,
.smGear,
.wrap,
.wrap2 {
  position: relative;
}

.wrap {
    margin-top: 100px;
    position: absolute;
}

.wrap2 {
    -webkit-animation-name: counterSpin;
		-moz-animation-name: counterSpin;
		animation-name: counterSpin;
    -webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
}

.lgGear {
  width: 350px;
  height: 350px;
}

.wrap,
.wrap2,
.medGear {
  width: 200px;
  height: 200px;
  min-height: 200px;
}

.smGear {
  width: 110px;
  height: 110px;
}

.midDeco {
  width: 20%;
  height: 100%;
  position: relative;
}

.midDeco2 {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 40%;
}

.midDeco2::before {
  content: '';
  position: absolute;
  background: rgb(0,0,0);
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
  left: 45%;
  top: 25%;
}

.wrap,
.wrap2 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  -webkit-animation-duration: 10000ms;
	-moz-animation-duration: 10000ms;
	animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
}

.pegTop,
.pegRight,
.pegBottom,
.pegLeft {
  width: 25px;
  height: 25px;
  position: relative;
}

.pegTop {
  top: -20px;
}

.pegRight {
  right: -20px;
  align-self: center;
}

.pegLeft {
  left: -20px;
  align-self: center;
}

.pegBottom {
  bottom: -20px;
  align-self: flex-end;
}


.center {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: 20px solid blue;
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

/** TV SCREEN **/

.tvScreen {
  background: radial-gradient(rgba(252,252,252,.3),
															rgba(252,252,252,.7)),
							radial-gradient(rgb(252,252,252) 60%,
															rgb(99,99,99));
  width: 80%;
  height: 80%;
  border: 3px solid rgb(40,20,9);
  -webkit-box-shadow: 0px 0px 22px 1px rgba(252,252,252,.3);
	-moz-box-shadow: 0px 0px 22px 1px rgba(252,252,252,.3);
	box-shadow: 0px 0px 22px 1px rgba(252,252,252,.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: digital;
  font-size: 23px;
  color: rgb(0,0,0);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.screenLine {
  background: rgba(102,178,178,.2);
  width: 100%;
  height: 1px;
  position: absolute;
  -webkit-animation-name: example;
	-moz-animation-name: example;
	animation-name: example;
  -webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	animation-duration: 2s;
  -webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	animation-delay: .5s;
  -webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(102,178,178,.7);
	-moz-box-shadow: 0px 0px 18px 0px rgba(102,178,178,.7);
	box-shadow: 0px 0px 18px 0px rgba(102,178,178,.7);
}

.portHeader {
	width: calc(100% - 40px);
	position: absolute;
	top: 0;
  margin: 20px 20px 0 20px;
	display: flex;
	align-items: center;
}

.portHeader a {
	margin-left: 20px;
	text-decoration: underline;
	cursor: pointer;
	font-family: digital;
}

.tvScreen h1 {
  opacity: .7;
  margin: 0;
  font-family: digital !important;
}

.grid {
  width: 75%;
  height: 75%;
  display: grid;
  -ms-grid-template-columns: 100%;
	grid-template-columns: 100%;
  -ms-grid-column-gap: 10px;
	grid-column-gap: 10px;
  -ms-grid-row-gap: 15px;
	grid-row-gap: 15px;
	opacity: .85;
}

.grid div {
  position: relative;
}

.blankLeftTop {
	left: -100px;
	position: absolute;
	top: -105px;
	z-index: 1;
}

.blankSmLeftTop {
	left: -40px;
	position: absolute;
	top: 105px;
}

.telegraph.show {
	opacity: 1;
}

.telegraph {
	-webkit-text-stroke: 1px rgba(253,182,150,.5) !important;
	text-stroke: 1px rgba(253,182,150,.5) !important;
}

span.platform {
	color: rgba(253,182,150,.2);
}

.postL::after,
.postR::after {
    position: absolute;
    content: '';
    width: 100%;
    border-bottom: 1px solid rgb(253,182,150);
    bottom: -3px;
}

.contactRightBtm {
	position: absolute;
	bottom: -25px;
	right: -105px;
}

.teleContent a {
	border-bottom: 1px solid transparent;
	transition: ease 1s all;
}

.teleContent a:hover {
	border-bottom: 1px solid rgba(253,182,150,.5);
	transition: ease 1s all;
}

@keyframes example {
    0%   {bottom:0px; top:0px;}
    100% {bottom:0px; top:100%;}
}

@keyframes exploring {
	0% {
		top: -10px;
		opacity: 0;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}
	100% {
		top: 45px;
		opacity: 1;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
	}
}

@keyframes wing {
	0% {
		height: 1px;
		opacity: 0;
	}
	100% {
		height: 15px;
		opacity: 1;
	}
}

@media screen and (max-width: 1066px) {
	.aboutMe {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 991px) {
/* start of large tablet styles */
	.wrapAbout .signInvis {
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
	.cog2C,
	.cog2D {
		display: none;
		visibility: collapse;
	}
}

@media screen and (max-width: 700px) {
/* start of medium tablet styles */
	.cogSpread2 {
		display: none;
		visibility: collapse;
	}
}

@media screen and (max-width: 650px) {
/* start of phone styles */
	#RyanIndustries8 .rivetT:nth-child(2),
	#RyanIndustries8 .rivetT:nth-child(4),
	#RyanIndustries8 .rivetB:nth-child(2),
	#RyanIndustries8 .rivetB:nth-child(4),
	.wrapAbout .rivetT:nth-child(2),
	.wrapAbout .rivetT:nth-child(4),
	.wrapAbout .rivetB:nth-child(2),
	.wrapAbout .rivetB:nth-child(4),
	#port .rivetT:nth-child(2),
	#port .rivetT:nth-child(4),
	#port .rivetB:nth-child(2),
	#port .rivetB:nth-child(4),
	.cog2B {
		display: none;
		visibility: collapse;
	}

	#RyanIndustries8 .innerLabel{
    font-size: 44px;
	}
}

@media screen and (max-width: 479px) {
/* start of medium tablet styles */
	.wrapWho {
		margin-left: auto !important;
		justify-content: center;
	}
}
