<div class="cogSM">
	<div class="cogCenter"></div>
    <div class="centerWrap">
    	<div class="cogCenterMid"></div>
    </div>
    <div class="pegWrap">
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
        <div class="pegStick">
            <div class="pegs"></div>
            <div class="pegs"></div>
    	</div>
    </div>
   <!-- <div class="pegWrap">
        <div class="barStick">
            <div class="bars"></div>
            <div class="bars"></div>
        </div>
        <div class="barStick">
            <div class="bars"></div>
            <div class="bars"></div>
        </div>
    </div>-->
</div>
